#contact {
	.footerCopy {
		text-align: center;
	}
}
.contactEmail {
	width: 80%;
	margin: 0 auto;
	padding: 0 0 1%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
div.wpcf7 {
	margin: 0 auto;
	width: 30%;
	font-family: $parFont;
	@include media($tablet) {
		width: 50%;
	}
	@include media($mobile) {
		width: 75%;
	}
	input[type=text], input[type=email], textarea {
		width: 100%;
		border: none;
		padding: 5px 0;
		background: none;
		border-bottom: 1px solid $darkBG;
	}
	.wpcf7-submit {
		margin: 0 auto;
		padding: 5px;
		background: none;
		border: 2px solid $accentColor;
		transition: all 0.5s;
		&:hover {
			background: $darkBG;
			color: $mainBG;
		}
	}
}
ul#menu-social {
	width: 30%;
	padding: 1% 0;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	li {
		font-size: 2rem;
	}
}