h2.fpTitle, h3.fpTitle {
	width: 15%;
	margin: 0 auto 2%;
	text-align: center;
	position: relative;
	text-transform: uppercase;
	@include media($tablet) {
		width: 30%;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: -4px;
		left: 5px;
		height: 5px;
		width: 50%;
		border-bottom: 1px solid black;
	}
}
#about {
	// padding: 120px 0;
}
ul.aboutIcons {
	width: 80%;
	margin: 0 auto;
	padding-left: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	@include media($mobile) {
		flex-wrap: wrap;
	}
	li {
		width: 20%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include media($mobile) {
			width: 50%;
		}
	}
	i {
		font-size: 2rem;
	}
	p {
		width: 50%;
		text-align: center;
	}
}
.aboutText {
	width: 80%;
	margin: 0 auto;
	padding: 2% 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	@include media($tablet) {
		flex-direction: column;
	}
}
.aboutLeft {
	width: 40%;
	padding: 0 1%;
	font-weight: 700;
	text-align: right;
	border-right: 1px solid $darkBG;
	@include media($tablet) {
		width: 100%;
		text-align: left;
		border-bottom: 1px solid $darkBG;
		border-right: none;
	}
}
.aboutCenter {
	width: 60%;
	margin: 0 1%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	p {
		width: 50%;
		padding: 0 1%;
	}
	@include media($tablet) {
		width: 100%;
	}
}

.fpBlog {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	@include media($tablet) {
		width: 100%;
		flex-direction: column;
		align-items: center;
	}
}
.blogPost {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 50%;
	padding: 1%;
	ul.post-categories {
		padding-left: 0;
		list-style: none;
	}
	&__content {
		align-self: center;
	}
	&__underline {
			margin: 0 auto;
			height: 1px;
			display: block;
			border-bottom: 1px solid $fontColor;
	}
}
.first {
	background: $darkBG;
	display: flex;
	width: 25%;
	flex-direction: column;
	justify-content: center;
	margin-right: 5%;
	text-align: center;
	@include media($tablet) {
		width: 80%;
		margin: 0 auto;
	}
}
.postContainer {
	width: 50%;
	display: flex;
	flex-flow: row wrap;
	@include media($tablet) {
		width: 90%;

	}
}
.profileText {
	padding: 2% 0;
	width: 60%;
	margin: 0 auto;
	@include media($tablet) {
		width: 80%;
	}
}
ul.workflowIcons {
	list-style: none;
	width: 80%;
	margin: 0 auto;
	padding-left: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	li {
		width: 20%;
		padding: 1%;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	i {
		font-size: 2rem;
		color: $mainBG;
	}
}