.aboutText {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: row wrap;
	justify-content: space-between;
	@include media($tablet) {
		flex-direction: column;
	}
}
.aboutLeft {
	width: 45%;
	@include media($tablet) {
		
	}
}
.aboutRight {
	width: 45%;
	@include media($tablet) {
	}
}
.highlight {
	color: $accentColor;
}

ul.aboutIcons {
	width: 75%;
	margin: 0 auto;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	li {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}