.button-group {
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 2% 0;
	button {
		border: none;
		background: $accentColor;
		margin: 0 1%;
		text-transform: uppercase;
	}
}
.grid {
	width: 75%;
	margin: 0 auto;
	@include media($mobile) {
		width: 95%;
	}
	.grid-sizer {
		width: 1%;
	}
	.gutter-sizer {
		width: 0%;
	}
	.grid-item { 
		width: 40%;
		height: 300px;
		margin-bottom: 30px;
		padding: 0 2.5%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		@include media($tablet) {
			width: 100%;
		}
		@include media($mobile) {
			// flex-direction: row;
			position: relative;
			display: block;
			clear:both;
		}
	}
	.grid-item--width2 { 
		width: 60%; 
		@media(max-width: 768px) {
			width: 100%;
		}
	}
	.grid-item--width3 {
		width: 100%;
	}
	.highlight {
		background: $accentColor;
	}
	.gridtop {
		width: 70%;
		height: 100%;
		background-size: cover;
		@include media($mobile) {
		}
		}
	.gridbottom {
		height: 100%;
		width: 30%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: space-between;
		background: $accentColor;
		&__left {
			text-transform: uppercase;
		}
		@include media($mobile) {
		}
		.gridButton {
			background: #333;
			color: white;
			text-align: center;
			padding: 5px;
			display: block;
			margin: 10px;
			@include media($mobile) {
				width: 75%;
				margin: 10px auto;
				padding: 10px;
				display: block;
			}

			&__more {
			}
			&__see {
			}
		}
		p {
			margin: 0;
			padding: 5px;
			@include media($mobile) {
				padding: 10px;
			}
		}
	}

}