.button-group {
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 2% 0;
	@include media($tablet) {
		width: 100%;
	}
	button {
		font-family: $titleFont;
		border: 2px solid $accentColor;
		background: none;
		margin: 0 1%;
		padding: 5px;
		text-transform: uppercase;
		transition: all 0.5s;
		&:hover {
			background: $accentColor;
			color: $mainBG;
		}
	}
}
.grid {
	width: 80%;
	margin: 0 auto;
	@include media($mobile) {
		width: 95%;
	}
	.grid-sizer {
		width: 1%;
	}
	.gutter-sizer {
		width: 0%;
	}
	.grid-item { 
		width: 40%;
		height: 300px;
		margin-bottom: 30px;
		padding: 0 1%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		&__short {
			flex-direction: column;
			justify-content: center;
			@include media($tablet) {
				flex-direction: row;
			}
		}
		@include media($tablet) {
			width: 100%;
		}
	}
	.grid-item--width2 { 
		width: 60%; 
		@media(max-width: 768px) {
			width: 100%;
		}
	}
	.grid-item--width3 {
		width: 100%;
	}
	.highlight {
		background: $accentColor;
	}
	.gridtop {
		width: 70%;
		height: 100%;
		background-size: cover;
		&__short {
			width: 100%;
			height: 50%;
			@include media($tablet) {
				width: 70%;
				height: 100%;
			}
		}
	}
	.gridbottom {
		height: 100%;
		width: 30%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: space-between;
		background: url('images/stardust.png'), $accentColor;
		background-blend-mode:overlay;
		color: $mainBG;
		&__short {
			height: 50%;
			width: 100%;
			@include media($tablet) {
				height: 100%;
				width: 30%;
			}
		}
		&__left {
			text-transform: uppercase;
			text-align: center;
			font-family: $titleFont;
			padding: 5px;
			margin: 5px;
			@include media($tablet) {
				padding: 0;
			}
		}
		&__center {
			text-align: center;
			vertical-align: center;
		}
		&__right {
			text-transform: uppercase;
			&--short {
				display: flex;
				flex-direction: row;
				justify-content: center;
				@include media($tablet) {
					flex-direction: column;
				}
			}
		}
		.gridButton {
			background: none;
			border: 2px solid $mainBG;
			color: $mainBG;
			text-align: center;
			padding: 10px 0;
			width: 60%;
			display: block;
			margin: 10px auto;
			transition: all 0.5s;
			@include media($tablet) {
				width: 90%;
			}
			&__short {
				width: 30%;
				@include media($tablet) {
					width: 90%;
				}
			}
			&:hover {
				background: $mainBG;
				color: $darkBG;
			}
		}
		a {
			font-family: $titleFont;
		}
		p {
			font-family: $titleFont;
			margin: 0;
			padding: 5px;
		}
	}

}