
.grid {
	width: 80%;
	height: 800px;
	margin: 0 auto;
	.grid-item { 
		width: 40%;
		height: 300px;
		margin-bottom: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border: 1px solid black;
	}
	.grid-item--width2 { 
		width: 55%; 
	}
	.highlight {
		background: $accentColor;
	}
	.gridbottom {
		height: 10%;
		display: flex;
		flex-direction: row;
		align-items: center;
		p {
		margin: 0;
		padding: 5px;
		}
	}
	.gridtop {
		width: 100%;
		height: 90%;
		overflow: hidden;
		background-size: cover;
		a {
			width: 100%;
			height: 100%;
			display: block;
		}
		}
}