.sidebar {
	width: 20%;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
		}
		input[type=search] {
			background: none;
			padding: 5px;
			border: 2px solid $accentColor;
			margin-right: 2%;
			@include media($tablet) {
				margin-right: 0;
				padding: 0;
				width: 100%;
			}
		}
		input[type=submit] {
			background: $alt2BG;
			border: 2px solid $accentColor;
			padding: 5px;
			border-radius: 0;
			transition: all 0.5s;
			&:hover {
				background: $darkBG;
				color: $mainBG;
			}
		}
	}
}
