#elseHeader {
	height: 50vh;
	position: relative;
	background-attachment: fixed;
	background-size: cover;
	&:after {
		content: "";
		position: absolute;
		bottom: 0px;
		left: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: $triangle;
		border-color: transparent transparent transparent $mainBG;
		@include media($tablet) {
			border-width: $triangleB;
		}
	}
	&:before {
		content: "";
		position: absolute;
		bottom: 0px;
		right: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: $triangleRev;
		border-color: transparent $mainBG;
		@include media($tablet) {
			border-width: $triangleBRev;
		}
	}
}
.wrapper__portItem {
	display: flex;
	flex-direction: row;
}
.portfolioSItem {
	position: relative;
	padding: 0 0 4%;
	background: $mainBG;
				&:before {
			content: "";
			position: absolute;
			bottom: -15px;
			right: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: $triangleRev;
			border-color: transparent $alt2BG;
			@include media($tablet) {
				border-width: $triangleBRev;
			}
		}
			&:after {
			content: "";
			z-index:1;
			position: absolute;
			bottom: -15px;
			width: 0;
			left: 0;
			height: 0;
			border-style: solid;
			border-width: $triangle;
			border-color: transparent $alt2BG;
			@include media($tablet) {
				border-width: $triangleB;
			}
		}
	&__container {
		width: 80%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__sidebar {
		width: 20%;
	}
	&__image {
		width: 50%;
	}
}
#nav-below {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}