#elseHeader {
	height: 50vh;
	position: relative;
	background-attachment: fixed;
	background-size: cover;
	overflow:hidden;
	&:after {
		content: "";
		position: absolute;
		bottom: 0px;
		left: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: $triangle;
		border-color: transparent transparent transparent $mainBG;
		@include media($tablet) {
			border-width: $triangleB;
		}
	}
	&:before {
		content: "";
		position: absolute;
		bottom: 0px;
		right: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: $triangleRev;
		border-color: transparent $mainBG;
		@include media($tablet) {
			border-width: $triangleBRev;
		}
	}
}
.wrapper__portItem {
	display: flex;
	flex-direction: row;
}
.portfolioSItem {
	position: relative;
	padding: 0 0 4%;
	background: $mainBG;
	overflow:hidden;
	@include media ($tablet) {
		padding: 0 0 15%;
	}
				&:before {
			content: "";
			position: absolute;
			bottom: -15px;
			right: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: $triangleRev;
			border-color: transparent $alt2BG;
			@include media($tablet) {
				border-width: $triangleBRev;
			}
		}
			&:after {
			content: "";
			z-index:1;
			position: absolute;
			bottom: -15px;
			width: 0;
			left: 0;
			height: 0;
			border-style: solid;
			border-width: $triangle;
			border-color: transparent $alt2BG;
			@include media($tablet) {
				border-width: $triangleB;
			}
		}
	&__container {
		width: 80%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		// align-items: center;
		@include media($tablet) {
			width: 70%;
		}
	}
	&__sidebar {
		width: 20%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		@include media($tablet) {
			width: 30%;
		}
		a {
			display: block;
			width: 50%;
			text-align: center;
			padding: 10px;
			margin: 10px auto;
			border: 2px solid $accentColor;
			text-transform: uppercase;
			background: none;
			transition: all 0.5s;
			&:hover {
				background: $darkBG;
				color: $mainBG;
			}
		}
	}
	&__image {
		width: 50%;
	}
}
ul.langList {
	padding-left: 0;
	list-style: none;
	margin-top: 0;
	li {
		background: $alt2BG;
		color: $accentColor;
		text-transform: uppercase;
		padding: 5px;
		margin: 10px;
	}
}
#nav-below {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}