/* colors in variables */

$mainBG: #F8F8FF; /*ghostwhite */
$altBG: #F5F5F5; /* whitesmoke */
$alt2BG: #DCDCDC; /* darkslategrey*/
$fontColor: black;
$accentColor: #5F9EA0;  
$tomato: #FF6347; /*tomato*/
$blue: #5F9EA0; /*cadetblue*/
$secondBG: #F0F8FF;
$snow: #FFFAFA;
$darkBG: #696969;

/* fonts */

$titleFont: 'Raleway', serif;
$parFont: 'Open Sans', sans-serif;
$altFont: 'Merriweather', serif;

/* RESPONSIVENESS */
$mobile: new-breakpoint(max-width 480px 12);
$tablet: new-breakpoint(max-width 768px 12);

/*TRIANGLES */

/*AFTER IS LEFT, BEFORE IS RIGHT */
$triangle: 80px 0 0 865px;
$triangleRev: 80px 400px 0 0;
$triangleB: 80px 900px 0 0;
$triangleBRev: 80px 0 0 400px;

/* size & color assignment */
header {
	// @include background($mainBG, url('images/PAM_8797.jpg'));
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		bottom: 0px;
		left: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: $triangle;
		border-color: transparent transparent transparent $mainBG;
		}	
}
	#about {
		padding: 100px 0;
		background: $mainBG;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: -80px;
			right: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: $triangleRev;
			border-color: transparent $mainBG transparent transparent;
		}
		&:after {
			content: "";
			position: absolute;
			bottom: -80px;
			z-index:1;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: $triangleRev;
			border-color: $mainBG transparent;
		}
	}
	#folio {
		background: $alt2BG;
		position: relative;
		padding: 100px 0;
		&:before {
			content: "";
			position: absolute;
			top: 0px;
			right: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: $triangle;
			border-color: $mainBG transparent;
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 0px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: $triangle;
			border-color: transparent $mainBG;
		}	
	}
	#blog {
		position: relative;
		padding: 100px 0;
		background: $mainBG;
		&:before {
			content: "";
			position: absolute;
			top: -80px;
			right: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: $triangleRev;
			border-color: transparent $mainBG;
		}
		&:after {
			content: "";
			z-index:1;
			position: absolute;
			bottom: -80px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: $triangleRev;
			border-color: $mainBG transparent;
		}
	}
	#profile {
		position: relative;
		background: $darkBG;
		padding: 100px 0;
		&:before {
			content: "";
			position: absolute;
			top: 0px;
			right: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: $triangle;
			border-color: $mainBG transparent;
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 0px;
			left: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: $triangle;
			border-color: transparent $alt2BG;
		}	
	}
footer {
	padding: 20px 0;
	position: relative;
	background: $alt2BG;
		&:before {
			content: "";
			position: absolute;
			top: -80px;
			right: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: $triangleRev;
			border-color: transparent $alt2BG;
		}
}
aside {
	background: rgba(245,245,245,0.9);
	li a {
		color: $tomato;
		text-transform: uppercase;
		font-size: 2rem;
		transition: all .5s;
		&:hover {
			color: $fontColor;
		}
	}
}

/* FONT SIZING */

body {
	font-size: 62.5%;
}
h1, h2, h3 {
	font-family: $titleFont;
	margin-top: 0;
}
a {
	color: $tomato;
	text-decoration: none;
	&:hover {
		color: #D424B1;
	}
}

/* paragraphs */

p {
	line-height: 1.5;
	font-family: $parFont;
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}